# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# IDE folders
.idea/
.vscode/

# OS junk files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (optional)
*.caffemodel
*.pb
